.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-left: 5vw;
  padding-right: 8vw;
  position: relative;
}

.homeTitle {
  font-size: 6vw;
}

.homeImg {
  height: 65vh;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
